* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

html, body {
   height: 100%;
}

html {
   font-size: 16px;
}

body {
   padding-top: 44px;
}

nav {
   font-size: 1rem;
   text-align: right;

   width: 100%;
   padding: 0 15px;

   position: fixed;
   top: 0;
   left: 0;

   background-color: black;
}

nav > a {
   text-decoration: none;

   display: inline-block;
   padding: 12px;

   color: white;
}

nav > a:first-child {
   position: absolute;
   top: 0;
   left: 9px;
}

main {
   height: 100%;

   background-image: url(https://s19.postimg.org/3kxau798z/atree.jpg);
   background-size: cover;
}

section {
   font-size: 1rem;
   display: inline-block;
   padding: 3px 9px 9px;

   position: fixed;
   left: 0;

   background-color: white;
   border-left: 9px solid black;
}

section:target {
   color: white;
   background-color: green;
   border-color: darkgreen;
}

#about {
   bottom: 230px;
}

#work {
   bottom: 160px;
}

#contact {
   bottom: 90px;
}

section > h1,
section > h2 {
   font-size: 1.6rem;
}

body {
   padding-bottom: 74px;
}

footer {
   text-align: center;

   padding: 27px 18px;
   width: 100%;

   position: fixed;
   bottom: 0;

   color: white;
   background-color: black;
}
