@charset "utf-8";

/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 * Google Noto
 */
@font-face {
   font-family: "Noto Sans";
   src: url("../fonts/NotoSans-Regular.ttf");
   font-weight: normal;
}

@font-face {
   font-family: "Noto Sans";
   src: url("../fonts/NotoSans-Bold.ttf");
   font-weight: bold;
}

@font-face {
   font-family: "Noto Sans";
   src: url("../fonts/NotoSans-Italic.ttf");
   font-style: italic;
}

@font-face {
   font-family: "Noto Sans";
   src: url("../fonts/NotoSans-BoldItalic.ttf");
   font-weight: bold;
   font-style: italic;
}

@font-face {
   font-family: "Noto Sans UI";
   src: url("../fonts/NotoSansUI-Regular.ttf");
   font-weight: normal;
}

@font-face {
   font-family: "Noto Sans UI";
   src: url("../fonts/NotoSansUI-Bold.ttf");
   font-weight: bold;
}

@font-face {
   font-family: "Noto Sans UI";
   src: url("../fonts/NotoSansUI-Italic.ttf");
   font-style: italic;
}

@font-face {
   font-family: "Noto Sans UI";
   src: url("../fonts/NotoSansUI-BoldItalic.ttf");
   font-weight: bold;
   font-style: italic;
}

@font-face {
   font-family: "Noto Mono";
   src: url("../fonts/NotoMono-Regular.ttf");
   font-weight: normal;
}


/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 * Typography
 */
html {
   font-size: 16px;
}

body {
   font-family: "Noto Sans", "Helvetica", "Segoe UI", "Arial", sans-serif;
}

.font-ui {
   font-family: "Noto Sans UI", "Helvetica", "Segoe UI", "Arial", sans-serif;
}

pre, code {
   font-family: "Noto Mono", "Monaco", "Consolas", monospace;
}

h1, h2, h3 {
   line-height: 1.2;
   font-weight: bold;
}

h1 { font-size: 2.1rem !important; }
h2 { font-size: 1.6rem !important; }
h3 { font-size: 1.1rem !important; }

@media (min-width: 768px) {
   h1 { font-size: 2.4rem !important; }
   h2 { font-size: 1.8rem !important; }
   h3 { font-size: 1.2rem !important; }
}

p {
   font-size: 1.07rem;
   line-height: 1.7;
}

blockquote {
   font-style: italic;
}


/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 * Colors
 */
.text-white {
   color: #ffffff !important;
}

.text-faded {
   color: #cfcfcf !important;
}

.text-inverse {
   color: #262626 !important;
}

.text-primary {
   color: #0073e6 !important;
}

.bg-white {
   background-color: #ffffff !important;
}

.bg-faded {
   background-color: #f5f5f5 !important;
}

.bg-inverse {
   background-color: #242e38 !important;
}

.bg-primary {
   background-color: #148aff !important;
}

button.bg-primary:hover,
a.bg-primary:hover {
   background-color: #0073e6 !important;
}

.fa-heart {
   color: #ff0000;
}


/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 * Content
 */
.content {
   font-size: 1.07rem;
}

.content h1,
.content h2,
.content h3,
.content p {
   padding: 0;
   margin: 0;
   margin-bottom: 27px;
}

.content h1 {
   margin-bottom: 45px;
}

.content blockquote {
   padding-left: 13px;
   margin-left: 11px;
   margin-bottom: 27px;
}

.content blockquote p {
   margin: 0;
}

.content code {
   color: #000000;
   background-color: #f0f0f0;
   border-radius: 0;
}

.content ul,
.content ol {
   padding: 0;
   padding-left: 27px;
   margin: -23px 0 27px;
}

.content ul {
   list-style: circle;
}

.content li {
   line-height: 1.7;
}

.content img {
   display: block;
   width: 100%;
   height: auto;
   margin: 30px auto;

   position: relative;

   border-radius: 5px;
   border: 1px solid #e6e6e6;
}

.content img::after {
   content: "Image Not Available";
   font-weight: bold;
   text-align: center;
   text-transform: uppercase;

   position: absolute;
   top: 45%;
   top: calc(50% - 10px);
   left: 45%;
   left: calc(50% - 90px);

   color: #e6e6e6;

   z-index: -1;
}

.content .embed {
   display: block;
   padding-top: 56.1%;
   width: 100%;
   margin: 30px auto;
   position: relative;

   border-radius: 5px;
   border: 1px solid #e6e6e6;

   overflow: hidden;
}

.content .embed
iframe {
   width: 100%;
   height: 100%;

   position: absolute;
   top: 0;
   left: 0;
}

.content .gist {
   margin-bottom: 27px;
}

.content .cp_embed_wrapper {
   margin-bottom: 27px;
}


/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 * Topnav
 */
html, body {
   height: 100%;
}

body {
   padding-top: 54px;
}

#topnav {
   font-size: 0.9rem;

   width: 100%;
   max-height: 100%;
   overflow-x: hidden;
   overflow-y: auto;

   position: fixed;
   top: 0;
   left: 0;
   z-index: 3;
}

#topnav .navbar {
   margin: 0;
   border: 0;
   overflow: hidden;
}

#topnav .navbar-container {
   padding: 0;
}

   @media (min-width: 768px) and (max-width: 991px) {
      #topnav .navbar-container {
         width: 100%;
      }
   }

#topnav .navbar-collapse {
   padding: 0;
   margin: 0;
   border: 0;
}

#topnav .navbar-nav {
   margin: 0;
}

#topnav .navbar-nav a {
   padding: 17px 27px;

   position: relative;
}

#topnav .navbar-nav a:not(.begin) {
   border-bottom: 1px solid #111;
}
   @media (min-width: 768px) {
      #topnav .navbar-nav a.begin {
         margin-right: 15px;
      }

      #topnav .navbar-nav a:not(.begin) {
         padding-left: 11px;
         padding-right: 11px;

         border-bottom: 0;
      }
   }
      @media (min-width: 992px) {
         #topnav .navbar-nav a.begin {
            margin-left: 15px;
         }
      }

#topnav .navbar-nav a:hover {
   color: #ffffff !important;
   background-color: #242e38;
}

#topnav .navbar-nav a:focus {
   background-color: #242e38;
}

#topnav .navbar-nav a.begin {
   font-weight: bold;
}

#topnav .navbar-nav a.active {
   color: #ffffff !important;
}

#topnav .navbar-brand {
   font-size: 0.9rem;
   font-weight: bold;
   letter-spacing: 3px;

   height: auto;
   padding: 16px 0 18px;
   padding-left: 54px;
   padding-right: 9px;

   position: relative;
}

#topnav .navbar-brand img {
   width: auto;
   height: 33px;

   position: absolute;
   bottom: 11px;
   left: 12px;
   right: auto;
}
   @media (min-width: 768px) {
      #topnav .container {
         position: relative;
      }

      #topnav .navbar-brand {
         padding-left: 9px;
         padding-right: 51px;

         position: absolute;
         top: 0;
         right: 0;
      }

      #topnav .navbar-brand img {
         position: absolute;
         left: auto;
         right: 12px;
      }
   } /* media min-w 768 */

#topnav .navbar-toggle {
   font-size: 1rem;

   height: 54px;
   line-height: 54px;
   margin: 0;
   padding: 0 24px;

   position: absolute;
   bottom: 0;
   right: 0;

   border: 0;
}


/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 * Display
 */
#display {
   border-bottom: 1px solid #f0f0f0;
}

#display .container {
   padding-top: 30px;
   padding-bottom: 60px;
}
   @media (min-width: 768px) {
      #display .container {
         padding-top: 60px;
         padding-bottom: 90px;

         background-image: url(../assets/bg-r24.png);
         background-size: contain;
         background-repeat: no-repeat;
         background-position: 90% 100%;
         background-position: calc(100% + 90px) 100%;
      }
   }
      @media (min-width: 992px) {
         #display .container {
            background-position: 100% 100%;
         }
      }
         @media (min-width: 1200px) {
            #display .container {
               background-position: 95% 100%;
               background-position: calc(100% - 27px) 100%;
            }
         }

#display .ttl {
   font-size: 3.9rem !important;
   font-weight: normal;

   margin: 0;
   margin-bottom: 18px;
}
   @media (min-width: 768px) {
      #display .ttl {
         font-size: 4.5rem;
      }
   }

#display .msg {
   font-size: 1rem;

   margin: 0;
   margin-bottom: 33px;
}

#display .btn {
   font-size: 1rem;
   font-weight: bold;

   padding: 15px 27px;

   border-radius: 0;
}


/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 * Main
 */
#main {
   padding: 50px 0 70px;
}
   @media (min-width: 768px) {
      #main {
         padding: 70px 0 90px;
      }
   }


/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 * Sidenav
 */
#sidenav {
   font-size: 0.9rem;
}

#sidenav .collapse-toggle {
   font-size: 1rem;

   width: 51px;
   height: 49px;

   position: fixed;
   right: 18px;
   bottom: 15px;
   z-index: 2;

   border: 0;
   border-radius: 50%;
}

#sidenav .collapse {
   display: block;
}
   @media (max-width: 767px) {
      #sidenav .collapse,
      #sidenav .collapsing {
         width: 270px;
         height: 90% !important;
         height: calc(100% - 54px) !important;
         overflow-x: hidden;
         overflow-y: auto;

         position: fixed;
         top: 54px;
         right: -100%;
         z-index: 1;

         border-left: 1px solid #148aff;

         -webkit-transition: right 0.21s;
              -o-transition: right 0.21s;
                 transition: right 0.21s;
      }

      #sidenav .collapse.in {
         right: 0;
      }
   }

#sidenav .input-group {
   width: 100%;
   margin-bottom: 15px;
}

#sidenav .form-control {
   height: 54px;
   padding: 0;
   padding-left: 18px;

   -webkit-box-shadow: none;
           box-shadow: none;

   border: 0;
   border-radius: 0;
}

#sidenav .form-control:focus {
   z-index: 2;
}

#sidenav .form-control::placeholder {
   color: #ffffff;
}

#sidenav .input-group-addon {
   font-size: 1.2rem;

   width: 51px;

   border: 0;
   border-radius: 0;

   cursor: pointer;
}

#sidenav .nav { }

#sidenav .nav a:hover {
   text-decoration: none;

   background-color: #ffffff;
}

#sidenav .nav-heading {
   font-size: 0.96rem;
   font-weight: bold;
   text-transform: uppercase;

   padding: 9px 27px;
}

#sidenav .nav-list {
   list-style: none;
   padding-left: 45px;
   overflow: hidden;
}

#sidenav .nav-link {
   text-transform: capitalize;

   display: block;
   padding: 6px 0;
}

#sidenav .nav-link:focus {
   text-decoration: none;
}

#sidenav .nav-link.disabled {
   color: #333333 !important;

   cursor: default;
}


/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 * Press & Entry
 */
.party {
   padding-bottom: 60px;
   margin-bottom: 50px;

   border-bottom: 1px solid #dddddd;
}

.party:last-child {
   padding-bottom: 0;
   margin-bottom: 0;

   border: none;
}

.party-util {
   font-size: 0.9rem;
   font-weight: bold;

   display: inline-block;
   margin-bottom: 3px;
}

.party-util .fa {
   margin-right: 6px;

   position: relative;
   left: 3px;

   -webkit-transform: rotate(-18deg);
       -ms-transform: rotate(-18deg);
           transform: rotate(-18deg);
}

.party-util span {
   text-transform: uppercase;
}

.party-util:hover {
   text-decoration: none;
}

.party h2 {
   font-size: 2.5rem;
}
   @media (max-width: 768px) {
      .party h2 { font-size: 2.1rem; }
   }

.party .btn {
   font-weight: bold;

   padding: 1px 0;
   margin-top: -6px;

   border-radius: 0;
   border-bottom: 2px solid #0073e6;
}


/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 * Post
 */
#post .btn {
   font-size: 1rem;
   font-weight: bold;

   padding: 15px 27px;

   border-radius: 0;
}

#post .fb {
   padding: 24px 9px 6px;

   border: 1px solid hsl(0, 0%, 90%);
}


/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 * Anchor
 */
#anchor {
   text-align: center;

   padding: 70px 0 80px;
}

#anchor .this a:hover {
   text-decoration: none;
}

#anchor .this {
   font-size: 0.9rem;
   font-weight: bold;
   letter-spacing: 5px;

   margin-bottom: 18px;

   border-radius: none;
}

#anchor .this a {
   display: inline-block;
   padding: 3px 18px;
}

#anchor .somewhere {
   margin-bottom: 18px;
}

#anchor .somewhere a {
   font-size: 1.1rem;
   line-height: 39px;

   display: inline-block;
   width: 41px;
   height: 39px;
   margin: 0 7px;

   border-radius: 50%;
}

#anchor .by {
   word-spacing: 3px;
}

#anchor .by .fa {
   font-size: 1.5rem;

   position: relative;
   top: 3px;
}


/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 * Printer
 */
@media print and (orientation: portrait) {
   #topnav,
   #sidenav,
   #display,
   #anchor,
   .fb {
      display: none;
   }
} /* @media print */
