<footer id="anchor" class="ui bg-inverse">
   <a class="text-white" href="https://codenart.github.io">CodeNart</a>

   <a class="text-inverse bg-white" href="{{ site.freecodecamp }}" target="_blank">
      <i class="fa fa-free-code-camp"></i>
   </a>
   <a class="text-inverse bg-white" href="{{ site.codepen }}" target="_blank">
      <i class="fa fa-codepen"></i>
   </a>
   <a class="text-inverse bg-white" href="{{ site.facebook }}" target="_blank">
      <i class="fa fa-facebook"></i>
   </a>
   <a class="text-inverse bg-white" href="{{ site.github }}" target="_blank">
      <i class="fa fa-github-alt"></i>
   </a>
   <a class="text-inverse bg-white" href="{{ site.youtube }}" target="_blank">
      <i class="fa fa-youtube-play"></i>
   </a>
</footer>
