
<article id="post" class="col-sm-8">
   <div class="content">
      <h1>{{ page.title }}</h1>

      {{ page.content }}

   {% if page.next.category == page.category %}
      <p>
         <a class="d-inline-block text-primary" href="{{ page.next.url }}">
            Next: {{ page.next.short }} ;
         </a>
      </p>
   {% endif %}
   </div>
   <div class="fb">
      <div class="fb-like" style="margin-bottom: 3px; margin-left: 8px;"
           data-href="https://developers.facebook.com/docs/plugins/"
           data-layout="button" data-action="like" data-size="large"
           data-show-faces="false" data-share="true">
      </div>
      <div class="fb-comments"
           data-href="https://codenart.github.io/" data-width="100%"
           data-numposts="7" data-order-by="reverse_time">
      </div>
   </div>
</article>
